extends ./layouts/master.pug

block title
  title Zilliz

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')
  link(href='https://fonts.googleapis.com/css?family=Raleway:300，400&display=swap" rel="stylesheet' rel="stylesheet")
block content
  //- Desktop page
  section.home__page
    section.home__header
      h2 Reinvent Data Science
      p.desc We're Building The New Data Science
      p.desc Software For the Era Of AI & LoT
      //- a.text-link(href="www.baidu.com") Learn More

    section.mission__header#mission
      h2.title Our Mission
      .sub-title ZILLIZ aligns itself on developing open source data science software leveraging new generation heterogeneous computing technologies. <br />ZILLIZ software products could accelerate the AI adoption in the world.
    section.home__content#video-wrapper
      //- .video_wrapper#video-title-wrapper
      //-   video(id="home-video" src=require("../assets/video.mp4") width="100%" )
      //-   #video_title The new data challenge
      //-   #video_sub_title —— Unstructured data are explosively growing
      //-   #video_desc In 5 years, the global Datasphere will grow up to 175 ZB
      ul
        li
          img(src=require("images/illustration/challege-illustratio__1.png"), alt="illustratio")
          .title The new data challenge
          .sub-title —— Unstructured data are explosively growing
          .desc In 5 years, the global Datasphere will grow up to 175 ZB
        li
          img(src=require("images/illustration/challege-illustratio__2.png"), alt="illustratio")

          .desc Unstructured data (image, video, voice, text and etc) are everywhere 80% of all data
        li
          img(src=require("images/illustration/challege-illustratio__3.png"), alt="illustratio")

          .desc Vector is the new representation of unstructured data
        li
          img(src=require("images/illustration/challege-illustratio__4.png"), alt="illustratio")
          .sub-title —— IoT is transforming the way people live and work
          .desc IoT is the new network for all networks
        li
          img(src=require("images/illustration/challege-illustratio__5.png"), alt="illustratio")
          .desc By 2025, the number of total connected IoT devices will reach 75B. 10x more than human beings.
        li
          img(src=require("images/illustration/challege-illustratio__6.png"), alt="illustratio")
          .desc IoT data are driving decision-making process in industries like retail, transportation, healthcare and etc.
    section.home__tech#zilliz-technology
      h2 ZILLIZ Technology
      .product
        .logo
          a(href="https://milvus.io/", target="_blank", rel="noopener noreferrer")
            img(src=require("../assets/images/index_tech_milvus.svg"), alt="index_tech_milvus.svg", srcset="")
        ul
          li
            img(src=require("../assets/images/index_milvus1.jpg"), alt="index_milvus", srcset="")
            p Vector similarity search engine for unstructured data
          li
            img(src=require("../assets/images/index_milvus2.jpg"), alt="index_milvus", srcset="")
            p Support all AI scenarios (computer vision, voice, NLP and etc.)
          li
            img(src=require("../assets/images/index_milvus3.jpg"), alt="index_milvus", srcset="")
            p Open source and incubating in LF AI Foundation
      .product
        .logo
          img(src=require("../assets/images/index_tech_arctern.svg"), alt="index_tech_milvus.svg", srcset="")
        ul
          li
            img(src=require("../assets/images/index_arctern1.jpg"), alt="index_arctern", srcset="")
            p Spatiotemporal analysis platform for IoT
          li
            img(src=require("../assets/images/index_arctern2.jpg"), alt="index_arctern", srcset="")
            p High performance computing engine for large scale data
          li
            img(src=require("../assets/images/index_arctern3.jpg"), alt="index_arctern", srcset="")
            p Novel visualization methods
